<div class="xs-sidebar-group info-group  ">
    <div class="xs-overlay black-bg"></div>
    <div class="xs-sidebar-widget">
        <div class="sidebar-widget-container">
            <div class="widget-heading">
                <a href="/" class="close-side-widget"> 
                    <img src="./../assets/close.png" alt=""> 
                </a>
            </div>
            <div class="sidebar-textwidget">
                <h3 id="contactFormTitle" style="font-size: 29px;font-family: &#39;Montserrat&#39;, sans-serif;text-transform: uppercase;">Bạn cần tư vấn về thiết kế nền tảng Blockchain, Chatbot AI hay giải pháp phần mềm?</h3>
                <div class="box-form-cta-s1 box-form-cta active form-inpu-dev">
                    <p>Để lại số điện thoại của bạn!</p>
                    <div role="form" class="wpcf7" id="wpcf7-f10184-o1" lang="vi" dir="ltr">
                        <div class="screen-reader-response"></div>
                        <form action="https://devteam.mobi/#wpcf7-f10184-o1" method="post" class="wpcf7-form" novalidate="novalidate">
                            <div style="display: none;">
                                <input type="hidden" name="_wpcf7" value="10184">
                                <input type="hidden" name="_wpcf7_version" value="5.1.3">
                                <input type="hidden" name="_wpcf7_locale" value="vi">
                                <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f10184-o1">
                                <input type="hidden" name="_wpcf7_container_post" value="0"></div>
                            <div class="form-flat">
                                <span class="wpcf7-form-control-wrap tel-395">
                                    <input type="tel" name="tel-395" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-required wpcf7-validates-as-tel" aria-required="true" aria-invalid="false" placeholder="Nhập số điện thoại tại đây *">
                                </span>
                                <br>
                                <input type="submit" value="Gửi đi" class="wpcf7-form-control wpcf7-submit">
                                <span class="ajax-loader"></span>
                            </div>
                            <p>
                                <input type="hidden" name="wpcf7_telegram" value="1">
                            </p>
                            <div class="wpcf7-response-output wpcf7-display-none"></div>
                            <input type="hidden" name="HYFJSW" value="RBpeTd">
                            <input type="hidden" name="HPQVfDxbI" value="MG6pwQ5.A">
                            <input type="hidden" name="Ar-dxgalbB" value="RsI8QNXYK3">
                            <input type="hidden" name="SVEvXq-yM" value="KJCi7wHcg">
                        </form>
                    </div>
                    <p>Hoặc liên hệ trực tiếp với TULPO Supporter</p>
                    <ul class="sideabr-list-widget">
                        <li>
                            <a href="mailto:info@devteam.mobi">
                                <div class="media" style="display: flex;margin-bottom: 29px;">
                                    <div class="d-flex" style="margin-right: 20px;">
                                        <img src="./../assets/mail-2.png" alt="" draggable="false">
                                    </div>
                                    <div class="media-body">
                                        <span class="text">info@tulpo.vn </span>
                                        <span>Gửi yêu cầu dự án / hợp tác</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="tel:0907305010">
                                <div class="media" style="display: flex;margin-bottom: 29px;">
                                    <div class="d-flex" style="margin-right: 20px;">
                                        <img src="./../assets/phone-3.png" alt="" draggable="false">
                                    </div>
                                    <div class="media-body">
                                        <span class="text">0907.30.50.10</span> <span>Nhân sự</span></div>
                                </div>
                            </a>
                        </li>

                        <li>
                            <a href="tel:0866068861">
                                <div class="media" style="display: flex;margin-bottom: 29px;">
                                    <div class="d-flex" style="margin-right: 20px;"> <img src="./../assets/phone-3.png" alt="" draggable="false"></div>
                                    <div class="media-body"> <span class="text">0866.068.861 </span> <span>Kỹ thuật</span></div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="box-form-cta-s2 box-form-cta">
                    <p class="y-desc hidden">Chia sẻ thông tin dự án để Tulpo có thể tư vấn chuyên sâu dễ dàng hơn.</p>
                    <div class="subscribe-form-wraper">
                        <option value="Website portfolio cá nhân">Website portfolio cá nhân</option>
                    </div>
                    <div class="box-btn-submit"> <a class="btn-submit-form-s btn-back-form" data-nextindex="1" onclick="backForm(1)">Quay lại</a> <button type="submit" id="btn-submit-form-s2" data-nextindex="3" class="one-btn btn-submit-form-s btn btn-primary btn-gradient4 icon-left"> <i class="icon icon-envelope4"></i> Tiếp theo </button></div>
                </div>
            </div>
        </div>
    </div>
</div> 