<footer id="footer" class="footer-wrapper">
    <section class="section header-footer" id="section_1171182459">
        <div class="bg section-bg fill bg-fill  bg-loaded"></div>
        <div class="section-content relative"></div>
    </section>
    <section class="section t-footer" id="section_1719753119">
        <div class="bg section-bg fill bg-fill  "></div>
        <div class="section-content relative">
            <div class="row" id="row-30032356">
                <div class="col small-12 large-12">
                    <div class="col-inner">
                        <div class="list-icon">
                            <ul>
                                <li><a rel="nofollow" href="https://www.facebook.com/tulpovietnam/"><img src="./../assets/fb.svg" width="25"></a></li>
                                <li><a rel="nofollow" href="https://twitter.com/TulpoD"><img src="./../assets/square-linkedin-512.png" width="25"></a></li>
                                <li><a rel="nofollow" href="https://t.me/HenryNo1"><img src="./../assets/telegram.svg" width="25"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row t-footer-1" id="row-1459574388">
                <div class="col small-12 large-12">
                    <div class="col-inner">
                        <div class="img has-hover x md-x lg-x y md-y lg-y" id="image_1949238828">
                            <div data-animate="fadeInLeft">
                                <div class="img-inner dark" style="margin:0px 0px 0px 0px;"> <img src="./../assets/tulpo-logo-web.png" class="attachment-large size-large" alt="" style="height:98.74px!important;width:100px!important;"></div>
                            </div>
                        </div>
                        <h6 class="color-white">Công ty TNHH giải pháp phần mềm</h6>
                    </div>
                </div>
            </div>
            <div class="row" id="row-870961340">
                <div class="col logo-bottom medium-4 small-12 large-4">
                    <div class="col-inner">
                        <h5 class="uppercase color-red">Tulpo</h5>
                        <div class="row" id="row-1185170378">
                            <div class="col small-12 large-12">
                                <div class="col-inner" style="margin:0px 0px 0 0px;">
                                    <ul class="size-18 list-footer-email" style="padding-left: 5px;">
                                        <li><span class="color-white">Email</span>
                                            <p class="size-18"><a rel="nofollow" href="mailto:info@tulpo.dev">info@tulpo.vn</a></p>
                                        </li>
                                    </ul>
                                    <ul class="size-18 list-footer-address" style="padding-left: 5px;">
                                        <li><span class="color-white">Địa chỉ</span>
                                            <p class="size-18"> Nơ 2 Bán đảo Linh Đàm</p>
                                        </li>
                                    </ul>
                                    <ul class="size-18 list-footer-contact" style="padding-left: 5px;">
                                        <li><span class="color-white">Liên hệ</span>
                                            <p class="size-18">Nhân sự - <a title="Nhân sự" rel="nofollow" href="tel:0907305010">0907.30.50.10 </a> Kỹ thuật - <a title="Kỹ thuật"
                                                    rel="nofollow" href="tel:0866068861">0866.068.861</a></p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col medium-4 small-12 large-4">
                    <div class="col-inner">
                        <h5 class="uppercase color-red">Doanh Nghiệp</h5>
                        <div class="row" id="row-1747552391">
                            <div class="col small-12 large-12">
                                <div class="col-inner" style="margin:0px 0px 0 0px;">
                                    <ul class="size-18 list-footer" style="padding-left: 5px;">
                                        <li><a href="/service/bot-chatbot">Chatbot/Bot</a></li>
                                        <li><a href="/service/tool">Tool</a></li>
                                        <li><a href="/service/blockchain">Blockchain Platform</a></li>
                                        <li><a href="/service/wallet">Sàn giao dịch</a></li>
                                        <li><a href="/service/exchange">Market Maker</a></li>
                                        <li><a href="/service/pay-gate">Cổng thanh toán tự động</a></li>
                                        <li><a href="/service/market-maker">Ví điện tử</a></li>
                                        <li><a href="/service/website-mlm">Website đa tầng</a></li>
                                        <li><a href="/service/bounty-airdrop">Bounty/Airdrop</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col medium-4 small-12 large-4">
                    <div class="col-inner">
                        <h5 class="uppercase color-red">Liên kết</h5>
                        <div class="row" id="row-1008360503">
                            <div class="col small-12 large-12">
                                <div class="col-inner" style="margin:0px 0px 0 0px;">
                                    <ul class="size-18 list-footer" style="padding-left: 5px;">
                                        <li><a rel="nofollow" href="/">Home</a></li>
                                        <li><a rel="nofollow" href="/about/about-us">Về chúng tôi</a></li>
                                        <li><a rel="nofollow" href="/service">Dịch vụ</a></li>
                                        <li><a rel="nofollow" href="/news">Tin tức</a></li>
                                        <li><a rel="nofollow" href="/price">Báo giá</a></li>
                                        <li><a rel="nofollow" href="/product">Các sản phẩm</a></li>
                                        <li><a rel="nofollow" href="/contact">Liên hệ</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <style scope="scope">
            #section_1719753119 {
                padding-top: 30px;
                padding-bottom: 30px;
            }

            #section_1719753119 .section-bg.bg-loaded {
                background-image: url();
            }

            #section_1719753119 .section-bg {
                background-position: 100% 9%;
            }
        </style>
    </section>
    <div class="absolute-footer dark medium-text-center small-text-center">
        <div class="container clearfix">
            <div class="footer-primary pull-left">
                <div class="copyright-footer"> Copyright 2019 © <strong>Tulpo</strong></div>
            </div>
        </div>
    </div> 
    <a rel="nofollow" href="https://devteam.mobi/#top" class="back-to-top button icon invert plain fixed bottom z-1 is-outline circle" id="top-link"><i class="fas fa-angle-up"></i></a>
</footer>