<div class="wp-form-show ">
    <div class="overlays"></div>
    <div class="form-showpopup">
        <div class="wp-two">
            <div class="form-wp">
                <h2><span>Bạn cần </span> tư vấn</h2>
                <p>Bạn cần tư vấn về lập trình nền tảng blockchain, chatbot hay giải pháp phần mềm?<br>Để lại số điện thoại của bạn - Tulpo sẽ kết nối ngay!</p>
                <div class="content-form">
                    <div role="form" class="wpcf7" id="wpcf7-f10184-o2" lang="vi" dir="ltr">
                        <div class="screen-reader-response"></div>
                        <form action="https://devteam.mobi/#wpcf7-f10184-o2" method="post" class="wpcf7-form" novalidate="novalidate">
                            <div style="display: none;"> 
                                <input type="hidden" name="_wpcf7" value="10184"> 
                                <input type="hidden" name="_wpcf7_version" value="5.1.3"> 
                                <input type="hidden" name="_wpcf7_locale" value="vi"> 
                                <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f10184-o2">                                    
                                <input type="hidden" name="_wpcf7_container_post" value="0"></div>
                            <div class="form-flat"> 
                                <span class="wpcf7-form-control-wrap tel-395">
                                    <input type="tel" name="tel-395" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-required wpcf7-validates-as-tel" aria-required="true" aria-invalid="false" placeholder="Nhập số điện thoại tại đây *">
                                </span>
                                <br>                                    <input type="submit" value="Gửi đi" class="wpcf7-form-control wpcf7-submit"><span class="ajax-loader"></span></div>
                            <p>
                                <input type="hidden" name="wpcf7_telegram" value="1">
                            </p>
                            <div class="wpcf7-response-output wpcf7-display-none"></div>
                            <input type="hidden" name="HYFJSW" value="RBpeTd">
                            <input type="hidden" name="HPQVfDxbI" value="MG6pwQ5.A">
                            <input type="hidden" name="Ar-dxgalbB" value="RsI8QNXYK3">
                            <input type="hidden" name="SVEvXq-yM" value="KJCi7wHcg">
                        </form>
                    </div>
                </div>
            </div>
            <div class="img-popup"> <img src="./../assets/show_popup_cs.svg" alt=""></div>
            <div class="remove-icon"> <img src="./../assets/cancel_popup.svg" alt=""></div>
        </div>
    </div>
</div>