<div class="wp-form-show-phone ">
    <div class="overlays"></div>
    <div class="form-showpopups">
        <div class="wp-twos">
            <div class="form-wp">
                <h2>Gửi địa chỉ Email liên hệ của bạn</h2>
                <p>Nhập email của bạn, chúng tôi sẽ liên hệ cho bạn ngay.</p>
                <div class="content-forms">
                    <div role="form" class="wpcf7" id="wpcf7-f1475-o3" lang="en-US" dir="ltr">
                        <div class="screen-reader-response"></div>
                        <form action="https://devteam.mobi/#wpcf7-f1475-o3" method="post" class="wpcf7-form" novalidate="novalidate">
                            <div style="display: none;"> <input type="hidden" name="_wpcf7" value="1475"> 
                                <input type="hidden" name="_wpcf7_version" value="5.1.3"> 
                                <input type="hidden" name="_wpcf7_locale" value="en_US"> 
                                <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f1475-o3">                                    
                                <input type="hidden" name="_wpcf7_container_post" value="0"
                            </div>
                            <div class="form-flat"> 
                                <span class="wpcf7-form-control-wrap email-657">
                                    <input type="email" name="email-657" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" id="gmail-contact" aria-required="true" aria-invalid="false" placeholder="Email của bạn *">
                                </span>
                                <br>                                    
                                <span class="wpcf7-form-control-wrap textarea-532">
                                    <textarea name="textarea-532" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea wpcf7-validates-as-required" id="content-contact" aria-required="true" aria-invalid="false" placeholder="Nội dung *"></textarea>
                                </span>
                                <br>                                    
                                <input type="submit" value="Gửi đi" class="wpcf7-form-control wpcf7-submit"><span class="ajax-loader"></span>
                            </div>
                            <div class="wpcf7-response-output wpcf7-display-none"></div>
                            <input type="hidden" name="HYFJSW" value="RBpeTd">
                            <input type="hidden" name="HPQVfDxbI" value="MG6pwQ5.A">
                            <input type="hidden" name="Ar-dxgalbB" value="RsI8QNXYK3">
                            <input type="hidden" name="SVEvXq-yM" value="KJCi7wHcg">
                        </form>
                    </div>
                </div>
            </div>
            <div class="remove-icons"> <img src="./../assets/close-circle-red-512.png" alt=""></div>
        </div>
    </div>
</div>