<div class="hotline">
    <div id="phonering-alo-phoneIcon" class="phonering-alo-phone phonering-alo-green phonering-alo-show">
        <div class="phonering-alo-ph-circle"></div>
        <div class="phonering-alo-ph-circle-fill"></div>
        <div class="phonering-alo-ph-img-circle"> <a rel="nofollow" class="pps-btn-img " title="Liên hệ" href="tel:0907305010"> <img src="./../assets/phone-icon_8801fb0b5f6ebfe1df74845373796ef5-1.png" style="padding:10px;" class="img-responsive"> </a></div>
    </div>
</div>