<!DOCTYPE html>
<html lang="vi-VN" prefix="og: http://ogp.me/ns#" class="js wf-applesystemblinkmacsystemfontquotsegoeuiquotrobotooxygensansubuntucantarellquothelveticaneuequotsansserif-n4-inactive wf-montaga-n4-inactive wf-inactive">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="msvalidate.01" content="31D8EFFC8DC242FBFFC7384FF6A81905">
    <link rel="stylesheet" href="./../assets/fl-icons.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" type="text/css">
    <link rel="profile" href="http://gmpg.org/xfn/11">
    <link rel="stylesheet" href="./../assets/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <script id="facebook-jssdk" src="./../assets/xfbml.customerchat.js"></script>
    <script src="./../assets/webfont.js" type="text/javascript" async=""></script>
    <script type="text/javascript" async="" src="./../assets/analytics.js"></script>
    <script async="" src="./../assets/js"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'UA-129006262-1');
    </script>
    <link rel="stylesheet" href="./../style.css" type="text/css">
    <title>Tulpo | <%= title %></title>
    <meta name="description" content="Công ty phần mềm Tulpo chuyên cung cấp các giải pháp doanh nghiệp như giải pháp ERP, giải pháp quản lý khách hàng CRM, dịch vụ thiết kế website,...">
    <link rel="canonical" href="https://tulpo.dev/">
    <meta property="og:locale" content="vi_VN">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Tulpo - Giải Pháp Phần Mềm &amp; Thiết Kế Website Chuyên Nghiệp">
    <meta property="og:description" content="Tulpo tự tin luôn là sự lựa chọn số 1 cho doanh nghiệp khi cần: thiết kế website, lập trình ứng dụng Mobile, hay giải pháp phần mềm cho doanh nghiệp">
    <meta property="og:url" content="https://tulpo.dev/">
    <meta property="og:site_name" content="Tulpo">
    <meta property="og:image" content="https://devteam.mobi/wp-content/uploads/2019/04/outsourcing8-min.jpg">
    <meta property="og:image:secure_url" content="https://devteam.mobi/wp-content/uploads/2019/04/outsourcing8-min.jpg">
    <meta property="og:image:width" content="800">
    <meta property="og:image:height" content="450">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:description" content="Công ty phần mềm Tulpo chuyên cung cấp các giải pháp doanh nghiệp như giải pháp ERP, giải pháp quản lý khách hàng CRM, dịch vụ thiết kế website,...">
    <meta name="twitter:title" content="Tulpo - Công Ty Phần Mềm &amp; Thiết Kế Website Chuyên Nghiệp">
    <meta name="twitter:image" content="https://devteam.mobi/wp-content/uploads/2019/04/outsourcing8-min.jpg">
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "WebSite",
            "@id": "https://tulpo.dev/#website",
            "url": "https://tulpo.dev/",
            "name": "Tulpo",
            "potentialAction": {
                "@type": "SearchAction",
                "target": "https://tulpo.dev/?s={search_term_string}",
                "query-input": "required name=search_term_string"
            }
        }
    </script>
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "Organization",
            "url": "https://tulpo.dev/",
            "sameAs": ["https://www.facebook.com/devteam.mobi/", "https://www.instagram.com/devteam.mobi/", "https://www.linkedin.com/company/devteam-inc/", "https://myspace.com/devteamvn", "https://www.youtube.com/channel/UC6XBqYlUZR-nOPZv9Bly76g", "https://www.pinterest.com/devteam_mobi/"],
            "@id": "https://tulpo.dev/#organization",
            "name": "Tulpo - Gi\u1ea3i Ph\u00e1p Ph\u1ea7n M\u1ec1m & Thi\u1ebft K\u1ebf Website Chuy\u00ean Nghi\u1ec7p",
            "logo": "https://devteam.mobi/wp-content/uploads/2019/01/devteam.png"
        }
    </script>
    <meta name="google-site-verification" content="lFwe9qZ6nGBwmhPRU8p0ZxEQYG8r88zII87F-QTDX_o">
    <link rel="dns-prefetch" href="https://s0.wp.com/">
    <link rel="dns-prefetch" href="https://secure.gravatar.com/">
    <link rel="dns-prefetch" href="https://s.w.org/">
    <link rel="alternate" type="application/rss+xml" title="Dòng thông tin Devteam »" href="https://devteam.mobi/feed/">
    <link rel="alternate" type="application/rss+xml" title="Dòng phản hồi Devteam »" href="https://devteam.mobi/comments/feed/">
    <link rel="stylesheet" type="text/css" href="./../assets/9r16g.css" media="all">
    <script src="./../assets/9r16g.js" type="text/javascript"></script>
    <script type="text/javascript">
        var a3_lazyload_params = {
            "apply_images": "",
            "apply_videos": "1"
        };
    </script>
    <script type="text/javascript">
        var a3_lazyload_extend_params = {
            "edgeY": "0"
        };
    </script>
    <link rel="https://api.w.org/" href="https://devteam.mobi/wp-json/">
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="https://devteam.mobi/xmlrpc.php?rsd">
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="https://devteam.mobi/wp-includes/wlwmanifest.xml">
    <link rel="shortlink" href="https://wp.me/PaWTJt-2ej">
    <link rel="alternate" type="application/json+oembed" href="https://devteam.mobi/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fdevteam.mobi%2F">
    <link rel="alternate" type="text/xml+oembed" href="https://devteam.mobi/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fdevteam.mobi%2F&amp;format=xml">
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "Article",
            "datePublished": "2019-03-29T08:43:09+07:00",
            "dateModified": "2019-06-26T14:00:54+07:00",
            "headline": "Trang chủ",
            "aggregateRating": {
                "@type": "AggregateRating",
                "ratingValue": "5",
                "ratingCount": "789",
                "bestRating": "5",
                "worstRating": "2"
            },
            "author": {
                "@type": "Person",
                "name": "Tulpo"
            },
            "mainEntityOfPage": {
                "@type": "WebPage",
                "@id": "https://tulpo.dev/"
            },
            "publisher": {
                "@type": "Organization",
                "name": "Tulpo",
                "logo": {
                    "@type": "ImageObject",
                    "url": "https://devteam.mobi/wp-content/uploads/2019/04/startup.jpg"
                }
            },
            "image": {
                "@type": "ImageObject",
                "url": "https://devteam.mobi/wp-content/uploads/2019/04/startup.jpg",
                "width": "700",
                "height": "400"
            }
        }
    </script>
    <script type="text/javascript">
        WebFontConfig = {
            google: {
                families: ["-apple-system,+BlinkMacSystemFont,+&quot;Segoe+UI&quot;,+Roboto,+Oxygen-Sans,+Ubuntu,+Cantarell,+&quot;Helvetica+Neue&quot;,+sans-serif:regular,regular", "-apple-system,+BlinkMacSystemFont,+&quot;Segoe+UI&quot;,+Roboto,+Oxygen-Sans,+Ubuntu,+Cantarell,+&quot;Helvetica+Neue&quot;,+sans-serif:regular,regular", "-apple-system,+BlinkMacSystemFont,+&quot;Segoe+UI&quot;,+Roboto,+Oxygen-Sans,+Ubuntu,+Cantarell,+&quot;Helvetica+Neue&quot;,+sans-serif:regular,regular", "Montaga:regular,regular", ]
            }
        };
        (function () {
            var wf = document.createElement('script');
            wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
            wf.type = 'text/javascript';
            wf.async = 'true';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(wf, s);
        })();
    </script>
    <link rel="icon" href="./../favicon.ico" sizes="32x32">
    <link rel="icon" href="./../favicon.ico" sizes="192x192">
    <link rel="apple-touch-icon-precomposed" href="./../favicon.ico">
    <meta name="msapplication-TileImage" content="./../favicon.ico">
    <link rel="stylesheet" type="text/css" href="./../assets/9r16g(1).css" media="all">
    <link rel="stylesheet" href="./../assets/owl.carousel.min.css">
    <link rel="stylesheet" href="./../style1.css">

    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "Professionalservice",
            "url": "https://tulpo.dev/",
            "logo": "https://devteam.mobi/wp-content/uploads/2019/04/id_icon_logo_devteam.png",
            "image": "https://devteam.mobi/wp-content/uploads/2019/04/id_icon_logo_devteam.png",
            "priceRange": "1000$-30000$",
            "hasMap": "https://www.google.com/maps/place/C%C3%B4ng+Ty+TNHH+Gi%E1%BA%A3i+Ph%C3%A1p+Ph%E1%BA%A7n+M%E1%BB%81m+DevTeam/@10.7812687,106.6624149,18.79z/data=!4m5!3m4!1s0x0:0xaac29e86cd7b7da4!8m2!3d10.782215!4d106.661552",
            "email": "mailto:info@devteam.mobi			",
            "founder": "Nguyễn Trung Toán",
            "address": {
                "@type": "PostalAddress",
                "addressLocality": "Quận 10",
                "addressCountry": "VIỆT NAM",
                "addressRegion": "Hồ Chí Minh",
                "postalCode": "700000",
                "streetAddress": "C4-C8 Bửu Long, Phường 15, Quận 10, Hồ Chí Minh 700000"
            },
            "description": "Tulpo - Giải Pháp Phần Mềm - Thiết Kế Website Chuyên Nghiệp",
            "name": "TULPO",
            "telephone": "08-8888-4420",
            "openingHoursSpecification": [{
                    "@type": "OpeningHoursSpecification",
                    "dayOfWeek": [
                        "Monday",
                        "Tuesday",
                        "Wednesday",
                        "Thursday",
                        "Friday"
                    ],
                    "opens": "08:00",
                    "closes": "17:30"
                },
                {
                    "@type": "OpeningHoursSpecification",
                    "dayOfWeek": [
                        "Saturday"
                    ],
                    "opens": "8:00",
                    "closes": "12:00"
                }
            ],
            "geo": {
                "@type": "GeoCoordinates",
                "latitude": "10.7812687",
                "longitude": "106.6624149"
            },
            "sameAs": ["https://www.facebook.com/devteam.mobi/",
                "https://t.me/devteamsupport",
                "https://t.me/thainguyen1708",
                "https://www.linkedin.com/company/devteam-inc"
            ]
        }
    </script>
    <link rel="stylesheet" href="./../assets/css" media="all">
    <link rel="stylesheet" type="text/css" id="gravatar-card-css" href="./../assets/hovercard.min.css">
    <link rel="stylesheet" type="text/css" id="gravatar-card-services-css" href="./../assets/services.min.css">
    <link rel="stylesheet" href="./../style2.css">
    
</head>