<div id="main-menu" class="mobile-sidebar no-scrollbar mfp-hide">
    <div class="sidebar-menu no-scrollbar ">
        <ul class="nav nav-sidebar  nav-vertical nav-uppercase">
            <li class="header-search-form search-form html relative has-icon">
                <div class="header-search-form-wrapper">
                    <div class="searchform-wrapper ux-search-box relative is-normal">
                        <form method="get" class="searchform" action="https://devteam.mobi/" role="search">
                            <div class="flex-row relative">
                                <div class="flex-col flex-grow"> <input type="search" class="search-field mb-0" name="s" value="" id="s" placeholder="Search…" autocomplete="off"></div>
                                <div class="flex-col"> <button type="submit" class="ux-search-submit submit-button secondary button icon mb-0"> <i class="icon-search"></i> </button></div>
                            </div>
                            <div class="live-search-results text-left z-top">
                                <div class="autocomplete-suggestions" style="position: absolute; display: none; max-height: 300px; z-index: 9999;"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-8575 current_page_item menu-item-10205"><a href="/" class="nav-top-link">Trang chủ</a></li>
            <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-5717 has-child" aria-expanded="false"><a href="/service" class="nav-top-link">Dịch vụ</a><button class="toggle"><i class="icon-angle-down"></i></button>
                <ul class="children">
                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-22004"><a target="_blank" href="/service/bot-chatbot">BOT / Chatbot</a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-18104"><a target="_blank" href="/service/tool">Tool</a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-23792"><a target="_blank" href="/service/blockchain">HBlockchain Platform</a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-23857"><a target="_blank" href="/service/wallet">Ví Điện Tử</a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-17725"><a target="_blank" href="/service/exchange">Sàn Giao Dịch</a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-17726"><a target="_blank" href="/service/pay-gate">Cổng Thanh Toán</a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-17727"><a target="_blank" href="/service/market-maker">Market Maker</a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-17726"><a target="_blank" href="/service/website-mlm">Website Đa Tầng</a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-17727"><a target="_blank" href="/service/bounty-airdrop">Bounty / Airdrop</a></li>
                </ul>
            </li>
            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-3583 has-child" aria-expanded="false"><a rel="nofollow" href="#" class="nav-top-link">Về chúng tôi</a><button class="toggle"><i class="icon-angle-down"></i></button>
                <ul class="children">
                    <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-8111"><a rel="nofollow" href="/about/hire">Tuyển dụng</a></li>
                    <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-3508"><a rel="nofollow" href="/about/news">Tin tức</a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3585"><a rel="nofollow" href="/about/about-us">Giới thiệu</a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3584"><a rel="nofollow" href="/about/process">Quy trình làm việc</a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3539"><a rel="nofollow" href="/about/contact">Liên hệ</a></li>
                </ul>
            </li>
            <li class="menu-item menu-item-type-post_type_archive menu-item-object-khach-hang menu-item-8114"><a rel="nofollow" href="/product" class="nav-top-link">Sản phẩm</a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-14091"><a rel="nofollow" href="/price" class="nav-top-link">Báo Giá</a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-20307"><a href="/news" class="nav-top-link">Tin tức</a></li>
        </ul>
    </div>
</div>